.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: #311432;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  font-size: x-large;
  padding: 0 20px 50px;
}

img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  position: relative;
  top: 6px;
}

.h1 {
  margin-top: 80px;
  color: white;
  font-size: 25px;
  padding-bottom: 0px;
}

.form {
  max-width: 800px;
  margin: 0 auto;
}

.p {
  color: #bf1650;
  text-align: center;
}

textarea,
select,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.label,
section > label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.counter {
  font-weight: 400;
  background: white;
  color: black;
  padding: 10px 15px;
  border-radius: 4px;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 9999999;
}

input[type="submit"]:hover,
input[type="submit"]:active {
  transition: 0.3s all;
  top: 2px;
}

.preact {
  opacity: 0;
  color: white;
}

.preact:hover {
  opacity: 1;
}
.footer {
  background-color: #8d4585;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 99%;
  font-size: 19px;
  font-weight: bold;
  color: #fafaff;
}
.active {
  background: #b43757;
  color: #ffffff;
  cursor: default;
}
header ul {
  background: #8d4585;
  overflow: hidden;
  padding: 0;
}
header li a {
  display: block;
  padding: 1em;
  border-right: 1px solid #8d4585;
  background: rgba(173, 192, 206, 0.3);
  color: #ffffff;
}
header li {
  float: left;
}

header li a:hover {
  background: #b43757;
  color: #acacac;
}
ul {
  list-style: none;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: "Lora", serif;
  transition: 0.5s linear;
}
